.dashbord {
    
    background-size: cover;
    background-image: url('/images\ \(6\).jpeg');
    height: 644px;
    width: 100%;
}

.linker {
    margin-left: 690px;
}

.linker button {
    font-size: 15.5px;
    margin-top: 45px;
    margin-left: 30px;
    height: 50px;
    width: 140px;
    border-radius: 10px;
    border: none;
}

.linker button:hover {
    background-color: rgb(226, 43, 61);
    color: white;
}
/* .deshboard-2{
    height:420px;
    width: 750px;
    border: 2px solid white;
} */
.dashbord-2 {
    margin-top: 40px;
     margin-left: 350px; 
    height: 420px;
    width: 790px;
    border: 3px solid white;
    border-radius: 15px;
    background: transparent;
    backdrop-filter: blur(30px);
    /* background-color: rgba(255, 255, 255, 0.938); */
    padding: 30px;
} 

.innerdata {
    margin-right: 10px;
}

.innerdata button {
    margin-right: 50px;
    height: 50px;
    width: 140px;
    margin-top: 15px;
    border-radius: 7px;
    border: none;
    font-size: 15px;
}

.innerdata button:hover {
    background-color: rgb(226, 43, 61);
    color: white;
    font-size: 16px;
}

.inner-dashbord {
    margin-top: 5px;
    height: 370px;
    width: 750px;
     border: 2px solid white;
    display: flex;
    padding: 20px;
    border-radius: 13px;
} 

.table{
   color: white;
    font-size: 18px;
    border-radius: 10px;
}
.head{
    height: 360px;
    width: 550px;
}
th,tbody,td{
    border: 1px solid #fff;
    border-radius: 10px;
    width: 240px;
    text-align: center;
}