/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/img.jpeg");
    background-size: 100% 740px;
}

.main {
    margin-top: 90px;
    background: transparent;
    width: 400px;
    height: 380px;
    border: 4px solid black;
    border-radius: 12px;
}

p {
    font-size: 18px;
    text-align: center;
}

h1 {
    font-size: 40px;
    text-align: center;
}

button {
    margin-top: 40px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    margin-left: 100px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    border-radius: 40px;
}

input {
    background: transparent;
    width: 330px;
    height: 50px;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    /* font-size: 15px;
    height: 50px;
    width: 330px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 15px; */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('/images\ \(6\).jpeg');
    background-size: cover;
    background-position: center;

}

.wrapper {
    width: 350px;
    background: transparent;
    color: #fff;
    height: 390px;
    border-radius: 10px;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(30px);
    box-shadow: 0, 0, 10px rgba(0, 0, 0, .2);
}

h1 {
    font-size: 36px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
}

.input-box input {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding-left: 10px;
}

input::placeholder {
    color: #fff;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: rgba(0, 0, 255, 0.822);
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    margin-top: 200px;
}